
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <div class="logo">
    <img src="assets/imgs/diploma2.png" />
    <p> About Smart Uni</p>
  </div>
<p>Toast is a subtle notification that appears on top of an app’s content. Typically, Toasts are displayed for a short duration
of time then automatically dismiss. For more information, Check out the API docs.</p>
<p>
  <b> Version 3.0.0.1</b>
</p>
</ion-content>
