<ion-content padding text-center>
    <div class="logo">
       <img src="assets/imgs/diploma2.png" />
       <p >Smart Uni</p>
    </div>
    
    <div>
      <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

      </ion-list>
      
      <button ion-button block clear> Forgot Password </button>

    </div>
    <div class="free30"></div>
    <div>
    <button ion-button block (click) ="login()" >Login</button>

    </div>

</ion-content>

<ion-footer padding>
  <button ion-button block outline (click)=" create_account()">Create Account</button>
</ion-footer>
