page-login {
     background: #2E6994;
     .logo{
         margin-top:60px !important;
         p{
             font-size:25px !important;
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         }
     }
}
