
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About Uni</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="http://127.0.0.1/smartuni/imgs/{{uni?.logo}}">
    </ion-avatar>
    <h2>{{uni?.name}}</h2>
    <p>{{uni?.contact}}</p>
  </ion-item>

  <ion-card-content>
    <p>{{uni?.description}}</p>
  </ion-card-content>

</ion-card>
</ion-content>
