<ion-header>

  <ion-navbar color="primary">
    <ion-title>Smart uni</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let uni of unis"  (tap)="gotoschool(uni)">

    <ion-item>
      <ion-avatar item-start>
        <img src="http://127.0.0.1/smartuni/imgs/{{uni.logo}}">
      </ion-avatar>
      <h2>{{uni.name}}</h2>
      <p>{{uni.contact}}</p>
    </ion-item>

    <ion-card-content>
      <p>{{uni.description}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>
