<ion-tabs tabsPlacement="top" tabsHideOnSubPages="true" tabsHighlight="true">
  <ion-tab [root]="tab1Root" tabIcon="speedometer"  tabTitle="Weighing"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="school"  tabTitle="Universities"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="contact"  tabTitle="Me"></ion-tab>
</ion-tabs>