<ion-header>

  <ion-navbar color="primary">
    <ion-title>Results</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
  
    <ion-card-header>
      Note:
    </ion-card-header>
  
    <ion-card-content>
      We generate your three possible weights from your three combination subjects

    </ion-card-content>
  
  </ion-card>
  
    <ion-item-group>
      <ion-item-divider color="light">{{res[0]?.mark}} | {{res[0]?.sub}}</ion-item-divider>
      <div  text-center *ngIf="loading"> Loading courses ... </div>
      <ion-item *ngFor="let course of courses" (tap)="show_course(course)">
        <ion-icon name="book" item-left></ion-icon>
        {{course?.course_name}}
      </ion-item>
    </ion-item-group>


    <ion-item-group>
      <ion-item-divider color="light">{{res[1]?.mark}} |{{res[1]?.sub}}</ion-item-divider>
      <div text-center *ngIf="loading"> Loading courses ... </div>    
      <ion-item *ngFor="let course of courses" (tap)="show_course(course)">
        <ion-icon name="book" item-left></ion-icon>
        {{course?.course_name}}
      </ion-item>
    </ion-item-group>



    <ion-item-group>
      <ion-item-divider color="light">{{res[2]?.mark}} |{{res[2]?.sub}}</ion-item-divider>
      <div text-center *ngIf="loading"> Loading courses ... </div>
      <ion-item *ngFor="let course of courses" (tap)="show_course(course)">
        <ion-icon name="book" item-left></ion-icon>
        {{course?.course_name}}
      </ion-item>
    </ion-item-group>


</ion-content>
