<ion-header>

  <ion-navbar color="primary">
    <ion-title>Smart uni</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-item-divider color="light">UACE Results Details.</ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col col-8> 
            <ion-item>
                <ion-label floating>Subject one</ion-label>
                <ion-select [(ngModel)]="u.so">
                  <ion-option *ngFor="let subj of arts" value="{{subj}}">{{subj}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-4> 
            <ion-item>
                <ion-label floating>Points</ion-label>
                  <ion-select [(ngModel)]="u.sop">
                  <ion-option *ngFor="let point of points" value="{{point}}">{{point}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating>Subject Two</ion-label>
            <ion-select [(ngModel)]="u.st">
              <ion-option *ngFor="let subj of arts" value="{{subj}}">{{subj}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label floating>Points</ion-label>
            <ion-select [(ngModel)]="u.stp">
              <ion-option *ngFor="let point of points" value="{{point}}">{{point}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating>Subject Three</ion-label>
            <ion-select [(ngModel)]="u.sth">
              <ion-option *ngFor="let subj of arts" value="{{subj}}">{{subj}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label floating>Points</ion-label>
              <ion-select [(ngModel)]="u.sthp">
              <ion-option *ngFor="let point of points" value="{{point}}">{{point}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating>subsidiary subject</ion-label>
              <ion-select [(ngModel)]="u.sub">
              <ion-option *ngFor="let subj of subsidiaries" value="{{subj}}">{{subj}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label floating>Points</ion-label>
              <ion-select [(ngModel)]="u.subp"> 
              <ion-option *ngFor="let point of points" value="{{point}}">{{point}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-label floating>General Paper</ion-label>
            <ion-select>
              <ion-option value="General Paper">General Paper</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label floating>Points</ion-label>
              <ion-select [(ngModel)]="u.gp">
              <ion-option  value="1">D</ion-option>
              <ion-option value="1">C</ion-option>
              <ion-option  value="0">P</ion-option>
              <ion-option  value="0">F</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

<ion-item-divider color="light"> UCE Results Details.</ion-item-divider>

<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-label floating>Number of Ds 1 & 2</ion-label>
        <ion-input type="number" [(ngModel)]="u.ds"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Number of Cs 3 & 6</ion-label>
        <ion-input type="number" [(ngModel)]="u.cs"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Number of Passes 7 & 8</ion-label>
        <ion-input type="number" [(ngModel)]="u.ps"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

  
</ion-content>

<ion-footer padding>
<button ion-button block (click)="calculate_weight()">Calculate weight</button>

</ion-footer>
