<ion-header>

  <ion-navbar color="primary">
    <ion-title>Course Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item-group>
    <ion-item-divider color="light">Course name : {{course?.course_name}}</ion-item-divider>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Course short name: {{course?.short_name}}</ion-item-divider>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Course description</ion-item-divider>
  </ion-item-group>
  <div padding>
      <p>{{course?.description}}</p>
  </div>

  <ion-item-group>
    <ion-item-divider color="light">Universities offering this course.</ion-item-divider>
  </ion-item-group>
<ion-list>
  <ion-item *ngFor="let uni of unis" (tap)="gotoschool(uni)">
    <ion-avatar item-start>
    <img src="http://127.0.0.1/smartuni/imgs/{{uni.logo}}">
    </ion-avatar>
    <h2>{{uni.name}}</h2>
    <p>{{uni.contact}}</p>
  </ion-item>
</ion-list>



</ion-content>
