<ion-content padding text-center>
  <div class="logo">
    <img src="assets/imgs/diploma2.png" />
    <p>Smart Uni</p>
  </div>

  <div>
    <ion-list>

      <ion-item>
        <ion-label floating>Fullname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-list>

  </div>

  <div>
    <button ion-button block (click)="create_account()">Get Started</button>

  </div>

</ion-content>

<ion-footer padding>
<button ion-button block outline (click)="login()">I already have an Account, Login here.</button>
</ion-footer>